@import '../../settings/colors';

.homeHeader {
    height: 1000px;
    background: $main-col url(../../../assets/Home-Hero-Image.jpg);
    background-repeat: no-repeat;
    background-size: auto;

    .heroContent{
        display: flex;
        justify-content: flex-end;

        .heroTxt {
            width: 750px;
            margin-right: 266px;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: flex-end;
            line-height: 60px;

                h1 {
                    font-size: 38px;
                    color: $text-col;
                    margin-bottom: 40px;
                    margin-top: 150px;
                }

                .heroButtons {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 20px;

                    a {
                        max-height: 120px;
                        max-width: 220px;
                        padding: 30px;
                        justify-content: center;
                        border: 1px solid $text-col;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 36px;
                        color: $text-col;
                    }
                }
        }
    }
}