$main-col: #FFFFFF;
$contact-bg-col: #FFFFFFC9;
$form-input-col: #3C3C3C26;
$text-col: #3C3C3C;
$submit-col: #000000;
$underline-col: #707070;
$about-bg-col: #F0F1F1;
$num-col: #5E5322;
$hero-btn-col: #00000000;
$reg-border-col: #FAD648;
$log-txt-col: #737373;
$decor-col: #1A1818;